$amber: #ffc107;
$dark-amber: #ffa000;
$light-primary: #ffecb3;
$accent-green: #8bc34a;

$brown: #8B4513;

$dark-gray: #212121;
$medium-gray: #727272;
$light-gray: #b6b6b6;

@import 'reset.css';

html, body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  color: $brown;
  background: #F0FFF0;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  width: 100vw;
}

#app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@import 'icons.css';
@import 'search-bar.scss';
@import 'verse-selectors.scss';
@import 'page-board.scss';
