@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?663ejb');
    src:    url('fonts/icomoon.eot?663ejb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?663ejb') format('truetype'),
        url('fonts/icomoon.woff?663ejb') format('woff'),
        url('fonts/icomoon.svg?663ejb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-book:before {
    content: "\e901";
}
.icon-pushpin:before {
    content: "\e902";
}
.icon-spinner3:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}
.icon-equalizer:before {
    content: "\e905";
}
.icon-accessibility:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e907";
}
.icon-minus:before {
    content: "\e908";
}
.icon-cross:before {
    content: "\e909";
}
.icon-checkmark:before {
    content: "\e90a";
}
.icon-checkmark2:before {
    content: "\e90b";
}
.icon-circle-up:before {
    content: "\e90c";
}
.icon-circle-right:before {
    content: "\e90d";
}
.icon-circle-down:before {
    content: "\e90e";
}
.icon-circle-left:before {
    content: "\e90f";
}

