#page-board {
  box-sizing: border-box;
  padding: 1rem;
  max-width: 768px;
  font-family: "San Francisco", "Roboto", Cabin, HelveticaNeue, Helvetica, sans-serif;
  background-color: rgba(255,255,255, 0.55);
  box-shadow: 0 0 8px rgba(100,100,100, 0.25);
  flex: 1 0 auto;
  margin: 0.5rem;
}

.verse-item {
  display: flex;

  &__number {
    color: #777;
    width: 2rem;
    min-width: 2rem;
  }

  &__text {
    line-height: 1.25;
  }
}

@media (min-width: 769px) {
  #page-board {
    margin: 1rem auto;
    min-width: 768px;
  }
}
