.selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;;
  background-color: $dark-amber;
  padding: 1rem 0;
  flex: 0 0 40px;
  padding: 0;

  & * {
    box-sizing: border-box;
  }

  select {
    display: none;
    font-size: 1rem;
    margin: 0 0.25rem;
  }

  i.icon-book {
    display: none;
    font-size: 1.25rem;
  }

  .select-toggler {
    display: block;
    align-self: flex-start;
    width: 100%;
    max-height: 440px;
    max-width: 760px;
    overflow: visible;

    & > ul {
      margin: 0;
      padding: 0;
    }

    &__selected {
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      color: #fff;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: #fff;
      max-height: 700px;
      max-width: 768px;
      padding: 0;
      margin: 0;
    }

    &__list > li {
      flex-grow: 1;
      padding: 4px;
      border: 2px solid rgba(50,50,50, 0.05);
      flex-basis: 33%;
      color: $medium-gray;
    }

    &__tab-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: $amber;
      color: $brown;

      > li {
        flex-grow: 1;
        text-align: center;
        padding: 0.5rem;
      }

       > li.active {
        border-bottom: 3px solid $accent-green;
      }
    }
  }
}
