<!DOCTYPE html>
<html>
<head>
  <title>Read Me</title>

  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <script>
    window.Reader = {
      data:  <%- JSON.stringify(data) %>
    };
  </script>

  <script src="/js/vendor.js"></script>

</head>
<body>
  <main></main>
  <script src="/js/bundle.js"></script>
</body>
</html>
